body {
    background-color: #EF233C;
    font-family: 'Righteous', cursive;
    width: auto;
}

h1, h2, h3 {
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
.logo {
    float: left;
    font-size: 2.5rem;
    padding-left: 30px;
    margin-top: 30px;
    color: #fff;
}

.navbar {
    background-color: #EF233C !important;
}

.navbar-nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-right: 50px;
}

.image-div {
    width: 100vw;
    
}
#image-wrapper {
    background: url("../images/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 70%;
    margin: 10px auto;
    padding-top: 30px;
    border-radius: 5px;
    
}

#hero-box {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        padding: 10px;
        text-align: left;
}

.social-container {
    text-align: center;
    color: #fff;
}

.socials {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    padding: 15px 15px
}

.socials:hover {
    color: #111;
}

/* Quiz Game */

.quiz-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;

}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 1.5rem;
    padding: 2rem 0;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #EF233C;
    background-color: #fff;
    border-radius: 10px;
}

.btn:hover {
    color: #fff;
    background-color:#111;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

#highscore-btn {
    background-color: #111;
    color: #fff;
}

#highscore-btn:hover {
    background-color: #fff;
    color: #EF233C;
}

.fa-crown, .fa-gamepad {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.choice-container {
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1.5rem;
    min-width: 40rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transition 100ms;
}

.choice-prefix {
    padding: px;
    color: #fff;
}

.choice-text {
    padding: 3px;
    width: 100%;
    text-align: center;
}

.correct {
    background-color: #68BB59;
}

.incorrect {
    background-color: #EF233C;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #68BB59;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: #68BB59;
}



@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}