body {
    background-color: #EF233C;
    font-family: 'Righteous', cursive;
    width: auto;
}
.logo {
    float: left;
    font-size: 2.5rem;
    padding-left: 30px;
    margin-top: 30px;
}

.navbar {
    background-color: #EF233C !important;
}

.nav-iem a {
    padding-left: 50px;
}